<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Them san pham</h1>

    <form>
        <div class="mb-3">
            <label class="form-label">Tên sản phẩm: </label>
            <div class="name-product-input">
                <input type="text" class="form-control" v-model="productname">
            </div>

        </div>
        <div class="mb-3">
            <label class="form-label">Giá: </label>
            <div class="price-product-input">
                <input type="text" class="form-control" v-model="price">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Loại: </label>
            <div class="category-product-input">
                <input list="categorys" name="category">
                <datalist id="categorys">
                    <option value="Tra"></option>
                    <option value="Coffee"></option>
                    <option value="Tra Sua"></option>
                    <option value="Trang Mieng"></option>
                </datalist>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Hình Ảnh: </label>
            <div class="category-product-input">
                <input type="file" name="image" class="form-control">
            </div>
        </div>




        <button class=" btn btn-primary">Submit</button><br>

    </form>

</body>

</html>